.login-section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input {
  width: 300px;
  height: 30px;

  border: none;
  padding-left: 10px;

  border-bottom: solid black 1px;
}

.login-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: rgba(76, 75, 75, 0.2);
}
