{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', path='styles/create-flats-styles.css')}}"
/>
{% endblock head%} {% block body %}
 <section class="create-flats-section section">
      <div class="container">
        <div class="box-create-flats">
          <form id="createFlatForm" class="create-flats-form">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Назва"
              class="create-flats-input"
              required
            />
            <input
              type="text"
              id="location"
              name="location"
              placeholder="Розташування"
              class="create-flats-input"
              required
            />
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Опис"
              class="create-flats-input"
              required
            />
            <input
              type="text"
              id="area"
              name="area"
              placeholder="Площа"
              class="create-flats-input"
              required
            />
            <input
              type="text"
              id="price"
              name="price"
              class="create-flats-input"
              placeholder="Ціна за місяць"
              required
            />
            <input
              type="text"
              id="rooms"
              name="rooms"
              class="create-flats-input"
              placeholder="Кількість кімнат"
              required
            />
            <button id="submitBtn" class="create-flats-btn">
              Здати в оренду
            </button>
          </form>
        </div>
      </div>
    </section>

<script>
  const createFlatForm = document.getElementById("createFlatForm");
  createFlatForm.addEventListener("submit", handleSubmit);

  function handleSubmit(e) {
    e.preventDefault();
    const token = localStorage.getItem("token");
    const formData = {
      name: document.getElementById("name").value,
      location: document.getElementById("location").value,
      description: document.getElementById("description").value,
      area: document.getElementById("area").value,
      price: document.getElementById("price").value,
      rooms: document.getElementById("rooms").value,
    };

    fetch("/user/create-flat", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + localStorage.getItem("token"),
      },
      body: JSON.stringify(formData),
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          return response.text().then((text) => {
            throw new Error(text);
          });
        }
      })
      .then((data) => {
        window.location.href = "/rent";
      })
      .catch((error) => {
        alert(error.message);
        console.error("Error:", error);
      });
  }
</script>

{% endblock body %}
